* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

canvas {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.text-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#score {
	width: 40%;
	text-align: right;
}

.game-modes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.game-modes h1 {
	text-decoration-color: black;
	text-decoration-style: solid;
	text-decoration-line: underline;
	margin: 0px 12px;
	cursor: pointer;
}